[submodule "sites/all/libraries/facebook-php-sdk"]
	path = sites/all/libraries/facebook-php-sdk
	url = git://github.com/facebook/facebook-php-sdk.git
[submodule "sites/all/libraries/twitteroauth"]
	path = sites/all/libraries/twitteroauth
	url = git@github.com:casterx/twitteroauth.git
[submodule "sites/migrate/modules/custom/migrate_social"]
	path = sites/migrate/modules/custom/migrate_social
	url = thmnhat@git.drupal.org:sandbox/thmnhat/1995604.git
[submodule "sites/all/modules/contrib/features"]
	path = sites/all/modules/contrib/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/contrib/admin_menu"]
	path = sites/all/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/contrib/devel"]
	path = sites/all/modules/contrib/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/contrib/entity"]
	path = sites/all/modules/contrib/entity
	url = http://git.drupal.org/project/entity.git
[submodule "sites/all/modules/contrib/jquery_update"]
	path = sites/all/modules/contrib/jquery_update
	url = http://git.drupal.org/project/jquery_update.git
[submodule "sites/all/modules/contrib/libraries"]
	path = sites/all/modules/contrib/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/contrib/module_filter"]
	path = sites/all/modules/contrib/module_filter
	url = http://git.drupal.org/project/module_filter.git
[submodule "sites/migrate/modules/contrib/field_hidden"]
	path = sites/migrate/modules/contrib/field_hidden
	url = http://git.drupal.org/project/field_hidden.git
[submodule "sites/migrate/modules/contrib/migrate"]
	path = sites/migrate/modules/contrib/migrate
	url = http://git.drupal.org/project/migrate.git
[submodule "sites/migrate/modules/contrib/migrate_extras"]
	path = sites/migrate/modules/contrib/migrate_extras
	url = http://git.drupal.org/project/migrate_extras.git
[submodule "sites/all/modules/custom/advanced_text_formatter"]
	path = sites/all/modules/custom/advanced_text_formatter
	url = thmnhat@git.drupal.org:project/advanced_text_formatter.git
[submodule "sites/all/modules/custom/jshint"]
	path = sites/all/modules/custom/jshint
	url = thmnhat@git.drupal.org:sandbox/thmnhat/1998202.git
[submodule "sites/all/modules/contrib/token"]
	path = sites/all/modules/contrib/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/custom/casterx"]
	path = sites/all/modules/custom/casterx
	url = git@github.com:casterx/casterx-drupal-api.git
[submodule "sites/all/modules/contrib/git_deploy"]
	path = sites/all/modules/contrib/git_deploy
	url = http://git.drupal.org/project/git_deploy.git
[submodule "sites/ubercart/modules/contrib/ubercart"]
	path = sites/ubercart/modules/contrib/ubercart
	url = http://git.drupal.org/project/ubercart.git
[submodule "sites/all/modules/custom/php_tokens"]
	path = sites/all/modules/custom/php_tokens
	url = thmnhat@git.drupal.org:sandbox/thmnhat/2003910.git
