[submodule "sites/all/libraries/facebook-php-sdk"]
	path = sites/all/libraries/facebook-php-sdk
	url = git://github.com/facebook/facebook-php-sdk.git
[submodule "sites/all/libraries/twitteroauth"]
	path = sites/all/libraries/twitteroauth
	url = git@github.com:casterx/twitteroauth.git
[submodule "sites/migrate_social/modules/custom/migrate_social"]
	path = sites/migrate_social/modules/custom/migrate_social
	url = thmnhat@git.drupal.org:sandbox/thmnhat/1995604.git
[submodule "sites/all/modules/contrib/features"]
	path = sites/all/modules/contrib/features
	url = http://git.drupal.org/project/features.git
